body {
  margin: 0;
  padding: 0;
}
.App {
  background-color: #000000;
  color: #ffffff;
}

.App-header {
  padding-top: 20px;
  min-height: 200vh;
  margin-right: calc(10px + 2vmin);
  margin-left: calc(10px + 2vmin);
  font-size: calc(10px + 2vmin);
}
