body {
  margin: 0;
  padding: 0;
}
.App {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.App-header {
  padding-top: 20px;
  margin-right: calc(10px + 2vmin);
  margin-left: calc(10px + 2vmin);
  font-size: calc(10px + 2vmin);
}
.App-main {
  margin-top: 100px;
  margin-left: 40px;
}
.App-footer {
  display: flex;
  margin-top: 42px;
  justify-content: space-around;
}
